<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!--  link to the static CSS file -->
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">

    
</head>
<body>

    <title>Home</title>
    <div class="home-container">
        <h1>Welcome to Luckys' E-Commerce Emporium</h1>
        <p>
            <a href="{% url 'order_list' %}" class="btn">View Orders</a>
        </p>
    </div>
</body>
</html>
