<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <!-- Link to CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">
</head>
<body>
    <title>Order Form</title>
    <div class="container">
        <h1>{% if form.instance.pk %}Edit Order{% else %}Create Order{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn">Save</button>
        </form>
    </div>
</body>
</html>
